force-gpu()
  -webkit-translate3d: 0 0 0;
  -moz-translate3d: 0 0 0;
  -ms-translate3d: 0 0 0;
  -o-translate3d: 0 0 0;
  translate3d: 0 0 0;


filter()
  -moz-filter arguments
  -webkit-filter arguments
  -ms-filter arguments
  -o-filter arguments
  filter arguments
