@import 'util.styl'

html
  margin 0px
  padding 0px

body
  margin 0px
  padding 0px 0px 4em 0px

  background-color #FFF
  transition background-color 333ms ease-in

  color #FFF
  font-family "Source Sans Pro", "sans-serif"

  #github-ribbon
    display none

  &.promo
    user-select none
    background-color #000

    #stage
      width 400px
      height 400px

      color #000

      top -80px
      left 0

    #header
      font-size 4.23em

      padding-top 0.7em
      padding-left 0.1em

    #github-ribbon
      display block

    #shortcuts-container
      padding-top 10px
      background-color transparent

#stage
  margin 0px auto -60px
  padding 0px

  background-color #FD1313
  border-radius 200px

  width 100px
  height 100px

  font-size 5.2em

  user-select none

  position relative

  top -10px

  left 40%

  z-index 10

  transition height 333ms ease-in,
             width 333ms ease-in,
             top 333ms ease-in,
             left 333ms ease-in,
             color 333ms ease-in

#header
  padding-top 0.64em
  padding-left 0.13em

  font-weight bold
  letter-spacing -0.27em

  transition padding-top 333ms ease-in,
             padding-left 333ms ease-in,
             font-size 333ms ease-in

#track-selection
  color #333

  background-color #CCC

  position fixed
  right 10%
  bottom 2em

  z-index 990

  min-width 240px

  border-radius 0.6em 0.6em 0 0

  max-height 60%
  height 800px

  display none

  &.active
    display block

  .btn-close
    padding 3px

  h4
    padding 0 1em
    text-transform capitalize

  li
    a
      padding 0 1em

  a:link, a:active, a:visited, a:hover
    color: #000

#track-list
  overflow-y scroll

  width 100%

  white-space nowrap

  position absolute
  top 4.8ex
  bottom 0

  border-top 1px solid #DADADA

  .nav
    margin-bottom 0px

  a
    overflow-x hidden
    text-overflow ellipsis

#audio-player-current-track
  width 100%
  background-color #CECECE

  height 2em

  position fixed
  bottom 0px
  left 0px

  z-index 999

  color #333

  box-shadow 0px 0px 7px #000

  .btn-group
    .btn
      background-color transparent
      background-image none
      border 0px

#audio-player
  display none

  &.playing
    .btn-play
      display none

    .btn-pause
      display inline-block

  .btn-pause
    display none

#audio-player.active
  display block

#now-playing
  padding 0.5ex 1em
  white-space nowrap

  a
    color: inherit

  .song-title
    font-weight bold

#shortcuts-container
  padding-top 0.4ex
  margin 0px auto
  text-align center

  background-color #B9B9FC
  border-radius 1em

  width 40%

  position relative
  top 0px
  left 0px

  z-index 20

  transition background-color 333ms ease-in

#shortcuts
  margin 0px
  padding 0px

#shortcuts li
  display inline-block

i, li.external
  transition opacity .25s ease-in-out
  opacity 0.8

i
  width 32px
  height 32px
  display block

i:hover, li.external:hover
  opacity 1.0
  cursor pointer

i.github
  background url(/images/icons/github.png)

i.dribbble
  background url(/images/icons/dribbble.png)

i.twitter
  background url(/images/icons/twitter.png)

i.linkedin
  background url(/images/icons/linkedin.png)

i.skype
  background url(/images/icons/skype.png)

i.last-fm
  background url(/images/icons/last-fm.png)

i.googleplus
  background url(/images/icons/googleplus.png)

i.aim
  background url(/images/icons/aim.png)

#github-ribbon
  position absolute

  top 0
  left 0
  border 0

  z-index 30

  transition opacity .25s ease-in-out

  opacity 0.3

  &:hover
    opacity: 0.8

@media (max-width: 720px)
  #github-ribbon
    display none

@media (max-width: 480px)
  #shortcuts-container
    margin 0px auto
    width 200px

    text-align center

    position relative
    top 0px
    right 0px

  #stage
    margin-bottom -25px
    width 200px
    height 200px

    top -50px

  #header
    font-size 11em
    letter-spacing -0.27em

  #now-playing
    white-space nowrap

    .song-artist
      display none

    a
      overflow hidden
      text-overflow ellipsis
      display inline-block
      max-width 140px

