html
  margin 0px
  padding 0px

body
  margin 0px
  padding 0px

  background-color #000
  color #FFF
  font-family "Source Sans Pro", "sans-serif"

  user-select none

  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none
  -o-user-select none

#stage
  margin 0px auto -60px
  padding 0px
  width 400px
  height 400px

  color #000
  background-color #FD1313

  border-radius 200px

  position relative
  top -80px
  left 0px

  z-index 10

#header
  padding-top 0.7em
  padding-left 0.1em
  font-size 22em
  letter-spacing -0.27em
  font-weight bold

#audio-player
  display none

#audio-player.active
  display block

#track-selection
  color #333

  background-color #CCC

  position fixed
  right 10%
  bottom 2em

  z-index 990

  min-width 160px

  border-radius 0.6em 0.6em 0 0

  max-height 30%

  overflow scroll

  display none

  &.active
    display block

  h4
    padding 0 1em
    text-transform capitalize

  li
    a
      padding 0 1em

  a:link, a:active, a:visited, a:hover
    color: #000

#audio-player
  .song-artist:after
    content: ' - '

#audio-player-current-track
  width 100%
  background-color #CECECE

  height 2em

  position fixed
  bottom 0px
  left 0px

  z-index 999

  color #333

  box-shadow 0px 0px 7px #000

  .btn-group
    .btn
      background-color transparent
      background-image none
      border 0px

  &.playing
    .btn-play
      display none
    
    .btn-pause
      display inline-block

  .btn-pause
    display none

#now-playing
  padding 0.5ex 1em

  a
    color: inherit

  .song-title
    font-weight bold

#shortcuts-container
  text-align center
  padding 10px
  
  position relative
  top 0px
  left 0px

  z-index 20

#shortcuts
  margin 0px
  padding 0px

#shortcuts li
  display inline-block

i, li.external
  -moz-transition opacity .25s ease-in-out
  -webkit-transition opacity .25s ease-in-out
  -o-transition opacity .25s ease-in-out
  transition opacity .25s ease-in-out
  opacity 0.8

i
  width 32px
  height 32px
  display block

i:hover, li.external:hover
  opacity 1.0
  cursor pointer

i.github
  background url(/images/icons/github.png)

i.dribbble
  background url(/images/icons/dribbble.png)

i.twitter
  background url(/images/icons/twitter.png)

i.linkedin
  background url(/images/icons/linkedin.png)

i.skype
  background url(/images/icons/skype.png)

i.last-fm
  background url(/images/icons/last-fm.png)

i.googleplus
  background url(/images/icons/googleplus.png)

i.aim
  background url(/images/icons/aim.png)

#github-ribbon
  position absolute

  top 0
  left 0
  border 0

  z-index 30

  -moz-transition opacity .25s ease-in-out
  -webkit-transition opacity .25s ease-in-out
  -o-transition opacity .25s ease-in-out
  transition opacity .25s ease-in-out

  opacity 0.3

  &:hover
    opacity: 0.8

@media (max-width: 720px)
  #github-ribbon
    display none

@media (max-width: 480px)
  #shortcuts-container
    margin 0px auto
    width 200px

    text-align center

    position relative
    top 0px
    right 0px

  #stage
    margin-bottom -25px
    width 200px
    height 200px

    top -50px

  #header
    font-size 11em
    letter-spacing -0.27em

