html
  margin 0px
  padding 0px

body
  background-color #000
  color #FFF
  font-family "Source Sans Pro", "sans-serif"
  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none

#stage
  margin 0px auto -60px
  padding 0px
  width 400px
  height 400px

  color #000
  background-color #FD1313

  border-radius 200px

  position relative
  top -80px
  left 0px

  z-index 10

#header
  padding-left 0.1em
  font-size 22em
  letter-spacing -0.27em
  font-weight bold

#audio-player
  margin 1ex auto 0px
  width 290px
  text-align right
  position relative
  top 0px
  left 0px
  z-index 16

#shortcuts-container
  text-align center
  padding 10px
  
  position relative
  top 0px
  left 0px

  z-index 20

#shortcuts
  margin 0px
  padding 0px

#shortcuts li
  display inline-block

i, li.external
  -moz-transition opacity .25s ease-in-out
  -webkit-transition opacity .25s ease-in-out
  -o-transition opacity .25s ease-in-out
  transition opacity .25s ease-in-out
  opacity 0.8

i
  width 32px
  height 32px
  display block

ihover, li.externalhover
  opacity 1.0
  cursor pointer

i.github
  background url(/images/icons/github.png)

i.dribbble
  background url(/images/icons/dribbble.png)

i.twitter
  background url(/images/icons/twitter.png)

i.linkedin
  background url(/images/icons/linkedin.png)

i.skype
  background url(/images/icons/skype.png)

i.last-fm
  background url(/images/icons/last-fm.png)

i.googleplus
  background url(/images/icons/googleplus.png)

i.aim
  background url(/images/icons/aim.png)

#github-ribbon
  position absolute
  top 0
  left 0
  border 0
  z-index 30

@media (max-width: 720px)
  #github-ribbon
    display none

@media (max-width: 480px)
  #shortcuts-container
    margin 0px auto
    width 200px

    text-align center

    position relative
    top 0px
    right 0px

  #stage
    margin-bottom -25px
    width 200px
    height 200px

    top -50px

  #header
    font-size 11em
    letter-spacing -0.27em

  #audio-player
    width 163px

