force-gpu()
  -webkit-translate3d: 0 0 0;
  -moz-translate3d: 0 0 0;
  -ms-translate3d: 0 0 0;
  -o-translate3d: 0 0 0;
  translate3d: 0 0 0;

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  -ms-transition arguments
  transition arguments

user-select()
  -moz-user-select arguments
  -webkit-user-select arguments
  -ms-user-select arguments
  -o-user-select arguments
  user-select arguments

