extends ../index


block bodyClass
  - bodyClass = 'blog article detail'


block title
  title=page.title + ' - monokro.me'


block content
  article
    header
      h2: a(href=page.url)= page.title
      p.date= moment(page.date).format('MM/DD/YYYY')

    section!=typogr(page.html).typogrify()


block prepend footer
  div.nav
    a(href='/') « Back to index
