extends ../index


block bodyClass
  - bodyClass = 'blog article detail'


block title
  title=page.title + ' - monokro.me'


block content
  article
    header
      h2: a(href=page.url)= page.title
      p.date= moment(page.date).format('MM/DD/YYYY')

    section!=typogr(page.html).typogrify()

    #discus-thread

    //- TODO: Get Disqus script to stop throwing errors.
    //-   script
    //-     | (function() {
    //-     |     var shortname = 'monokrome',
    //-     |         dsq = document.createElement('script');
    //-     |         dsq.type = 'text/javascript';
    //-     |         dsq.async = true,
    //-     |         container = (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]);
    //-     |     dsq.src = '//' + shortname + '.disqus.com/embed.js';
    //-     |     container.appendChild(dsq);
    //-     | })();


block prepend footer
  div.nav
    a(href='/') « Back to index
