extends ../index


block bodyClass
  - bodyClass = 'blog article detail'


block title
  title=page.title + ' - monokro.me'


block content
  article
    header.row
      .col-xs-8
        h2: a(href=page.url, target='_self')= page.title

      .col-xs-4
        p.date= moment(page.date).format('MM/DD/YYYY')

    section!=typogr(page.html).typogrify()

    //- #discus-thread
    //-   script
    //-     | (function() {
    //-     |     var shortname = 'monokrome',
    //-     |         dsq = document.createElement('script');
    //-     |         dsq.type = 'text/javascript';
    //-     |         dsq.async = true,
    //-     |         container = (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]);
    //-     |     dsq.src = '//' + shortname + '.disqus.com/embed.js';
    //-     |     container.appendChild(dsq);
    //-     | })();


block prepend footer
  div.nav
    a(href='/', target='_self') « Back to index
