extends ../index


block bodyClass
  - bodyClass = 'blog index';


block title
  title blog - monokro.me


block content
  include articles


block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer

    if nextPage
      a(href=nextPage.url) Next page »
