@import 'layout.styl'

#logo-wrapper
	padding-right 30px
	padding-bottom 30px

	position absolute
	right 0px
	bottom 0px

#logo
	width 200px
	height 140px

	background #FFF url(../images/logo.png)

#stripe
	width 14px
	height 100%
	
	margin-top -168px

	background #000

	position absolute
	top 0px
	right 91px

