html, body
  height auto
  min-height 100% !important

#sidebar
  font-size 0.8em 
  margin-top 20px

#document-container
  height 100%

  position relative
  top 0
  left 0

  z-index 10

#primary-navigation
  position relative
  top 0
  left 0

  z-index 15

#visualization-container

  height 100%
  width 100%

  position absolute
  top 0
  left 0

  z-index 1

#visualization
  width 100%
  height 100%

