#track-selection.ui.right.floating.sidebar
  #track-list.ui.compact.vertical.fluid.menu
    a(ng-click='play(track)', ng-repeat="track in tracks track by track.id") {{ track.user.username }} - {{ track.title }}

#audio-player-current-track.ui.two.column.grid
  .column
    #now-playing
      span.song-title
        a(href=permalink_url, target='_soundcloud')=title

      span.song-artist  by 
        a(href=user.permalink_url, target='_soundcloud')=user.username

  .column
    #audio-controls
      .ui.buttons
        .ui.mini.button.backward: i.icon.backward
        .ui.mini.button.play: i.icon.play
        .ui.mini.button.pause: i.icon.pause
        .ui.mini.button.forward: i.icon.forward
