<ul class=pager>
    <li class="previous {{#unless prev}} disabled{{/unless}}">
        <a class=newer-posts href="{{page_url prev}}">&larr; Previous page</a>
    </li>

    <li class="next {{#unless next}} disabled{{/unless}}">
        <a class=older-posts href="{{page_url next}}">Next page &rarr;</a>
    </li>
</ul>
