#code, #music, #blog
  margin 15px
  display inline-block
  text-align center
  width 144px
  cursor pointer

  vendor(user-select, none)

  position relative
  top 0
  left 0

  .avatar
    height 144px
    width 144px

  &:hover
    .avatar
      background-color #FFF
      box-shadow 0px 0px 6px #009

      vendor(transition, all 500ms ease-in-out)
      vendor(transform, scale(1.8))

      z-index 20
      position relative
      top 0
      left 0

    h1
      vendor(transition, all 200ms ease-in-out)
      opacity 0

  h1
    margin 0px
    font-size 3em
    font-weight lighter
    text-transform uppercase

    z-index 18
    position relative
    top 0
    left 0

#code .avatar
  background-image url('/images/octocat.svg')
  background-position -80px -165px
  background-repeat no-repeat

#music .avatar
  background-image url('/images/bass_clef.svg')
  background-position -170px -120px
  background-repeat no-repeat

#blog .avatar
  background-image url('/images/twitter.svg')
  background-position -270px -140px
  background-repeat no-repeat

