#code, #music, #blog
  margin 15px
  display inline-block
  text-align center
  width 144px
  cursor pointer
  overflow visible
  vertical-align top

  vendor(user-select, none)

  .avatar
    background-color #FFF
    height 144px
    width 144px

  &:hover
    .avatar
      box-shadow 0px 0px 6px #009

      z-index 20

    h1
      opacity 0
      overflow hidden

  h1
    margin 0px
    font-size 3em
    font-weight lighter
    text-transform uppercase
    vendor(transition, all 200ms ease-in-out)

    z-index 18

.no-js
  #code, #music, #blog
    &:hover
      .avatar
        height 173px

#code .avatar
  background-image url('/images/octocat.svg')
  background-position -80px -165px
  background-repeat no-repeat

#music .avatar
  background-image url('/images/bass_clef.svg')
  background-position -190px -120px
  background-repeat no-repeat

#blog .avatar
  background-image url('/images/twitter.svg')
  background-position -260px -140px
  background-repeat no-repeat

