#code, #music, #blog
  margin 15px
  display inline-block
  text-align center
  width 144px

  .avatar
    height 144px
    width 144px

    &:hover
      box-shadow 0px 0px 6px #009

  h1
    margin 0px
    font-size 3em
    font-weight lighter
    text-transform uppercase

#code .avatar
  background-image url('/images/octocat.svg')
  background-position -80px -165px
  background-repeat no-repeat

#music .avatar
  background-image url('/images/bass_clef_large.png')
  background-position -70px -25px
  background-repeat no-repeat

#blog .avatar
  background-image url('/images/twitter_large.png')
  background-position -250px -20px
  background-repeat no-repeat

