@import 'settings';


body {
  color: #313131;
  background-color: #FCFCFC;
  text-rendering: optimizeLegibility;

  font-family: Merriweather, Helvetica, sans-serif;
  font-size: 1.3em;

  > main {
    margin: 0 0.8em;
    padding: 0.4ex;

    > header {
      text-align: center;
      font-size: 2.6rem;
    }

    > footer {
      margin: 0 auto;
      padding: 0.7em 2ex 0.3em;
      width: 90vw;
      border-radius: 1ex;
      color: #313131;
      background-color: #DCDCDC;
      font-size: 0.7em;
      user-select: none;

      &:empty {
        display: none;
      }
    }

    > section + footer {
      border-radius: 1ex 1ex 0 0;
    }
  }

  @media only screen and (min-width: 766px) {
    font-size: 1.3em;
  }

  @media only screen and (min-width: 962px) {
    font-size: 1.8em;

    > main > header {
      margin: 0;
      padding: 0 2.3em 0 0;
      text-align: right;
    }
  }
}
