$lightGray: #FCFCFC;
$darkGray: #313131;


body {
  background-color: $lightGray;
  color: $darkGray;

  font-family: Merriweather, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-rendering: optimizeLegibility;
}


body > header {
  text-align: center;
}


main {
  display: flex;
  flex-direction: column;

  padding: 0;
  min-height: 100vh;
}


main > header {
  background-color: $darkGray;
  color: $lightGray;
}

main > section {
  padding: 0 0.8rem;
  flex-grow: 1;
}


main > footer {
  background-color: $darkGray;
  color: $lightGray;
  height: 2rem;
  width: 100%;
  align-self: flex-end;
}


.summary p:first-of-type ~ * {
  display: none;
}


.summary p:first-of-type::after {
  display: block;
  margin-top: 1ex;
  font-size: .9rem;
  text-align: center;
  content: "Read more…";
}


.summary [data-continuation-text]:first-of-type::after {
  content: attr(data-continuation-text);
}


@media only screen and (min-width: 766px) {
  body {
    font-size: 1.3rem;
  }
}


body > footer {
  width: 90vw;
  margin: 0 auto;
  padding: 0.7em 2ex 0.3rem;
  border-radius: 1ex;
  color: #313131;
  background-color: #DCDCDC;
  font-size: 0.7rem;
  user-select: none;
}


body > section + footer {
  border-radius: 1ex 1ex 0 0;
}


@media only screen and (min-width: 962px) {
  body {
    font-size: 1.8rem;
  }

  body > header {
    margin: 0;
    padding: 0 2.3em 0 0;
    text-align: right;
  }
}
