@import 'settings';


[data-audio-player] {
  > section ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;

    li {
      flex-grow: 1;
      margin: 5vh 5vw;
      min-width: 10vw;
      min-height: 30vh;
      background-color: $darkest;
      color: $brightest;
      text-align: center;
      cursor: pointer;

      span {
        vertical-align: middle;
      }

      &:nth-child(2n) {
        background-color: $dark;
      }
    }
  }

  > aside {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $bright;
    color: $dark;

    h3 {
      text-align: center;
    }
  }

}
