!!! 5

html
	head
		meta(charset="UTF-8")
		title="monokrome"

		link(href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", rel="stylesheet", type="text/css")
		link(href="http://fonts.googleapis.com/css?family=Droid+Sans", rel="stylesheet", type="text/css")

		link(href="/styles/ui.css", rel="stylesheet", type="text/css")
		link(href="/styles/common.css", rel="stylesheet", type="text/css")

		//- This is synchronously loaded, but is required in order to hide elements initially without waiting
		//- for an asynchronously loaded script to hide them.
		script(src='/lib/init.js')

	body
		canvas#backdrop
		#page-container!=body
		script(data-main='/lib/main.js', src='/lib/require.min.js')
		//- Experimenting with the ga.uges tracker.
		script(type='text/javascript')
			| "(function() { var t   = document.createElement('script'); t.type  = 'text/javascript'; t.async = true; "
			| "t.id    = 'gauges-tracker'; t.setAttribute('data-site-id', '4defd9da613f5d1bd2000004'); "
			| "t.src = '//secure.gaug.es/track.js'; var s = document.getElementsByTagName('script')[0]; "
			| "s.parentNode.insertBefore(t, s); })();"

