body.blog
  article
    line-height 1.55em
    margin-bottom 3em
    font-size 1.4em

  header
    .date
      padding-top 0.2em

      font-size 0.8em
      color #9A9A9A

    h1, h2
      margin 0em 0 0.4ex 0.8em
      width 100%

      display inline-block

      overflow hidden
      white-space nowrap
      text-overflow ellipsis
