body.blog
  article
    margin-bottom 3em
    font-size 1.4em

  header
    padding-left 0.4em

    .date
      margin-right 15%
      padding-top 0.2em

      float right

      font-size 0.8em
      color #9A9A9A

    h1, h2
      display inline-block
      margin 0em 0 0.4ex 0.8em
