doctype html

html(data-ng-app='application')
    head
        meta(charset='UTF-8')
        title Angular for GLP

        script(src='/scripts/application.js')
        script(src='/scripts/partials.js')

    body(data-application-root)
        There was an error initializing the application. :(

