* {
  margin-top: 0;
}

* + * {
  margin-top: 1.1em;
}


html, body {
  margin: 0;
}


body {
  color: #313131;
  background-color: #FCFCFC;

  font-family: Merriweather, Helvetica, sans-serif;
  font-size: 1.3em;
}


body > header {
  text-align: center;
}


main {
  margin: 0 0.8em;
  padding: 0.4ex;
}


article {
  max-width: 39em;
}


article header {
  white-space: nowrap;
}


article header h3 {
  width: 100%;
  padding-left: 2%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
}


article header::after {
  display: block;
  margin: -1.45em 0 0;
  border-top: 2px solid #313131;
  content: '';
}


article footer {
  text-align: right;
}


article.summary p:first-of-type ~ * {
  display: none;
}


article.summary p:first-of-type::after {
  display: block;
  margin-top: 1ex;
  font-size: 0.9em;
  text-align: center;
  content: 'Read more…';
}


article.summary p[data-continuation-text]:first-of-type::after {
  content: attr(data-continuation-text);
}


@media only screen and (min-width: 766px) {
  body {
    font-size: 1.3em;
  }
}


@media only screen and (min-width: 962px) {
  body {
    font-size: 1.8em;
  }
  
  article {
    margin: 0 auto;
  }
  
  body > header {
    margin: 0;
    padding: 0 2.3em 0 0;
    text-align: right;
  }
}


[data-audio-player] {
  margin: 0 auto;
  padding: 0.7em 2ex 0.3em;
  width: 90vw;
  border-radius: 1ex 1ex 0 0;
  color: #313131;
  background-color: #DCDCDC;
  font-size: 0.7em;
  user-select: none;
}

[data-audio-player] [data-control] {
  float: right;
  width: 0;
  height: 0;
  border-top: 0.6em solid transparent;
  border-bottom: 0.6em solid transparent;
  border-left: 0.6em solid #313131;
  cursor: pointer;
}


[data-audio-player] [data-control].paused {
  width: 1em;
  height: 1em;
  background-color: #313131;
  border-top: 0 solid #313131;
  border-right: 0 solid transparent;
  border-bottom: 0 solid #313131;
  border-left: 0 solid #313131;
}
