div.song-status now playing:
div.song-title monokrome - Pah!

.controls.pull-right
  .btn-group
    a.btn
      i.icon.icon-backward
    a.btn
      i.icon.icon-play
    a.btn
      b.icon.icon-forward

