#track-selection.pull-right
  h4 playlist
    .pull-right.btn-close
      i.icon-remove

  #track-list

#audio-player-current-track
  #now-playing.pull-left

  #audio-controls
    .controls.pull-right
      .btn-group
        a.btn.btn-backward
          i.icon-backward

        a.btn.btn-play
          i.icon-play

        a.btn.btn-pause
          i.icon-pause

        a.btn.btn-forward
          i.icon-forward

        a.btn.btn-playlist
          i.icon-list

