#track-selection.pull-right
  .pull-right.btn-close
    i.icon-cancel-circled

  h4 playlist

  #track-list

#audio-player-current-track
  #audio-controls
    .controls.pull-right
      .btn-group
        a.btn.btn-backward
          i.icon-to-start

        a.btn.btn-play
          i.icon-play

        a.btn.btn-pause
          i.icon-pause

        a.btn.btn-forward
          i.icon-to-end

        a.btn.btn-playlist
          i.icon-list

  #now-playing

